/*  your css code here. If applicable */
/*  your css code here. If applicable */
body {
	background-color: lightgray;
}
.block-heading {
	text-align:center;
}

.block-heading h1 {
	color: #3b99e0;
}

.block-heading p {
	text-align:center;
}

.product {
	background-color: #ffffff;
}

h2 {
	color:#3b99e0;
	font-size:14px;
} 

.summary {
	background-color:#f7fbff;
}
